.LeftSideBarContainer {
    box-shadow: inset 0px 4px 20px 0px #0c0c0c;
    margin: 0;
    color: white;
    height: 94vh;
    width: 3vw;
    background-color: rgb(41, 41, 41);
    transition: 0.2s linear;
}

.ToggleTo0 {
    width: 20vw;
}

.Displaynone {
    display: none;
}

.LeftSide_textContainer ul {
    width: 20vw;
    padding: 0;
}

.LeftSide_textContainer ul li:nth-child(n) {
    font-size: 2.3vh;
    border-radius: 1vh;
    cursor: pointer;
    width: 20vw;
    height: 4vh;
    padding: 0.5vh;

    list-style-type: none;
}

.LeftSide_textContainer ul li:nth-child(n) i {
    margin: 0 1vw 0 0.7vw;
}


.LeftSide_textContainer ul li:nth-child(n):hover {
    background-color: rgb(71, 71, 71);
}

.SettingNavbar {
    display: inline-block;
    width: 15vw;
    transition: 2s linear;
}

.settinghealthcaredown {
    display: inline-block;
    margin-right: 7.5vw;
}

/* Setting DropDown Starts From Here */
.SettingDropDownMenu {
    /* background-color: red; */
    height: 30vh;
}
.Settingpopups{
    /* font-size: 1vh; */
    /* background-color: rgb(66, 66, 66); */
    margin: 0 0 0 6vh;
    transition: 3s;
}
.DisplayToggleSetting {
    display: none;
}

.TextContainerDownSide {
    margin: 22vh 0 0 0;
    /* background-color: yellow; */
    width: 20vw;
    display: flex;
    flex-wrap: wrap;
    color: rgb(216, 216, 216);
    border-top: 1px solid gray;
}

.TextContainerDownSide p {
    font-size: 1.5vh;
    margin: 0;
    width: 5vw;
    /* background-color: gray; */
    text-align: center;
}

.TextContainerDownSide p:hover {
    cursor: pointer;
    color: gray;
}